html, body {
  width: 100vw;
}

.field {
  margin-bottom: 1rem;
}

.field label, .field input::placeholder {
  text-transform: capitalize;
}

.skill {
  margin-bottom: 1rem;
}

.skill .fullname {
  font-size: 1.1rem;
}

.card {
  border: solid red 1px;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  max-width: 300px;
  width: 30%;
  display: inline-block;
}

.messageContainer {
  border: solid red 3px;
  margin: 20px;
  padding: 10px;
}

.messageContainer .content{
  margin-right: 10px;
}